/**
 * Hey there!
 */
 body, html {
	overflow-x: hidden;
	height: 100%;
}
/*-----------------------------------------------------------------------------------*/
/*	BUILDER STYLES
/*-----------------------------------------------------------------------------------*/
 #builder {
	width: 300px;
	float: left;
	background: #e5e5e5;
	min-height: 800px;
	height: 100%;
	padding: 25px;
	position: fixed;
	.element-fetcher {
		display: block;	
	}
}
/*-----------------------------------------------------------------------------------*/
/*	CONTENT STYLES
/*-----------------------------------------------------------------------------------*/
 #content {
	overflow: hidden;
	margin-left: 300px;
	.block {
		position: relative;	
		overflow: hidden;
	}
	.handle,
	.sub-handle {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 50px;
		height: 50px;
		background: #fff;	
		cursor: move;
		border: 1px solid #333;
		z-index: 50;
	}
	.handle.block-settings {
		left: 70px;
		background: #eee;
	}		
	.ui-state-highlight {
		background: black;
	}
}